* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  font-family: 'zen-new', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  font-family: gelo, serif;
  font-weight: 800;
  font-style: normal;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.top-section {
  color: #182C57;
}

.about-section {
  background: #EBEEF4;
  color: #182C57;
}

.inner-grid .image {
  display: none;
}

.about-section h2 {
  margin-bottom: 0.3em;
}

.newsletter-section {
  /* grayscale for white on blue */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2A4C96;
  color: #fff;
}

.grid-container {
  width: 84%;
  padding: 20px 8%;
}

.grid-container p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 1em;
}

.grid-container h2 {
  font-size: 44px;
  line-height: 54px;
}

.grid-container h3 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media only screen and (min-width: 700px) {
  .grid-container {
    width: 70%;
    padding: 30px 15%;
  }

  .grid-container p {
    font-size: 20px;
    line-height: 36px;
  }

  .grid-container h2 {
    font-size: 90px;
    line-height: 90px;
  }

  .grid-container h3 {
    font-size: 34px;
    line-height: 44px;
  }

  .inner-grid {
    display: flex;
  }
  
  .inner-grid .text {
    width: calc(100% - 250px);
  }
  
  .inner-grid .image {
    width: 200px;
    margin-left: 50px;
    padding-top: 50px;
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .grid-container {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
  }

  .offset {
    width: 800px;
    margin: 0 auto;
  }

  .inner-grid .text {
    width: calc(100% - 400px);
  }
  
  .inner-grid .image {
    width: 300px;
    margin-left: 100px;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .offset {
    margin: 0 0 0 200px;
  }

  .top-section .grid-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 0;
    opacity: 0.1;
    border: 200px solid #2B4E97;
    border-radius: 50%;
  }
}